<div class="container">
    <header class="mb-3 mt-3">
        <h2 class="mb-3">To-Do List</h2>

        <div class="d-flex">
            <input type="text" class="form-control" placeholder="Add a new thing need to do" autofocus=""
            #content  (keyup.enter)="addToDo(content.value); content.value=''">
         
            <button type="submit" class="btn btn-primary ml-2"
            (click)="addToDo(content.value); content.value=''">Add</button>
        </div>
        
    </header>
 
    <main *ngIf="todoItems?.length > 0">
        <!-- <input type="checkbox" class="form-check-input"> -->
    
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-between align-items-center"
            *ngFor="let item of todoItems" [class.completed]="item.completed">
                
                <input type="checkbox" class="form-check-input"
                (click)="toggleTodo(item); onToggleTriggered(item)" [checked]="item.completed">    
                
                <div class="text-dark">{{item.content}}</div>
                
                <button class="close" aria-label="Close"
                (click)="removeTodo(item)">
                    <span aria-hidden="true">&times;</span>
                </button>
                
            </li>
        </ul>
    </main>

    <footer class="d-flex justify-content-between align-items-center"
    *ngIf="todoItems?.length > 0">
        <span>
            <strong>{{ todoItems?.length }}</strong> {{ todoItems?.length == 1 ? 'item' : 'items'}} left
        </span>
        <ul class="filter list-group list-group-horizontal justify-content-end">
            <li class="list-group-item"><a href="">All</a></li>
            <li class="list-group-item"><a href="">Active</a></li>
            <li class="list-group-item"><a href="">Completed</a></li>
          </ul>
        <button class="btn btn-light">Clear Completed</button>
    </footer>


</div>
